/* --- pos Specific CSS --- */

.vb {
    border-right: 1px solid #000000 !important;
     border-left: 1px solid #000000 !important;

    }



.h10 { font-size: 10px; }

.h11 { font-size: 11px; }


.mbt0 { margin-bottom: 0px !important;
 }


